# 4.6 Combining & Exporting Data

# Contents

### 1. Importing Libaries and Data

### 2. Combining Data

### 3. Exporting Data

# Script

### 1. Importing Libaries and Data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#defining path
path = r'C:\Users\tinar\OneDrive\Dokumente\00 DATA ANALYST Carrer Foundry\04 Immersion Course\4. Python Fundamentals for Data Analysts\2209 Instacart Basket Analysis'

### Step 3: in a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [3]:
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', '02 Prepared Data', 'orders_products_combined.pkl'))

### Step 4: Check the shape of the imported dataframe (it should be the same as the one you exportedâ€”always check!).

In [4]:
orders_products_combined.shape

(32434489, 10)

Its the same

### Step 5: Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [5]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', '02 Prepared Data', 'consistent_product.csv'), index_col = False)

In [6]:
df_prods.shape

(49672, 7)

In [7]:
df_prods.head()

,Unnamed: 0.1,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,1,2,All-Seasons Salt,104,13,9.3
2,2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,4,5,Green Chile Anytime Sauce,5,13,4.3

#### Here I have accedently 2 Index columns. So I will drop them.

In [8]:
df_prods= df_prods.drop(columns = ['Unnamed: 0.1','Unnamed: 0'])

In [9]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
df_prods.shape

(49672, 5)

#### Merging 2 Data Frames: 'orders_products_combined.pkl' and 'consistent_product.csv'.

In [11]:
# Dropping '_merge' column from 'orders_products_combined.pkl'
df_orders_products_combined = orders_products_combined.drop(columns = ['_merge'])

In [12]:
df_orders_products_combined.shape

(32434489, 9)

In [13]:
# Merging
df_merged_large_OPC = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

### Step 6. Confirm the results of the merge using the merge flag.

In [14]:
df_merged_large_OPC.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,11.11484,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.00000,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.00000,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.00000,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.00000,196,1,1,Soda,77,7,9.0,both

In [15]:
df_merged_large_OPC['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### Step 7: Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [16]:
df_merged_large_OPC.to_pickle(os.path.join(path, '02 Data','02 Prepared Data','orders_products_merged.pkl'))