# 4.7 Deriving New Variables_Exercise_Example

## _Contents_

#### 1. Libaries and Data

#### 2. If-Statement using function

#### 3. If-statement using loc()

#### 4. If-statements using for-Loops

#### 5. Deriving Variables

#### 5.1 Check the values of this new column for accuracy

#### 5.2  Printing the frequency for this new column

#### 6. Exporting the dataframe as a pickle file


## _Script_

#### 1. Libaries and Data

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
#defining path
path = r'C:\Users\tinar\OneDrive\Dokumente\00 DATA ANALYST Carrer Foundry\04 Immersion Course\4. Python Fundamentals for Data Analysts\2209 Instacart Basket Analysis'

In [4]:
# import of orders_products_merged
orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', '02 Prepared Data', 'orders_products_merged.pkl'))

In [5]:
df = orders_products_merged[:1000000]

In [6]:
df.shape

(1000000, 14)

#### 2. If-Statement using function

In [7]:
# creating (define) a new function called price_label 

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [9]:
#Apply the function
df['price_range'] =df.apply(price_label, axis=1)

C:\Users\tinar\AppData\Local\Temp\ipykernel_21540\114618143.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] =df.apply(price_label, axis=1)

In [8]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [10]:
df['prices'].max()

14.8

In [14]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

#### 3. If-statement using loc()

In [14]:
orders_products_merged.loc[orders_products_merged['prices'] > 15,'price_range_loc'] = 'High-range product'

In [18]:
orders_products_merged.loc[(orders_products_merged['prices'] <= 15) & (orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [19]:
orders_products_merged.loc[orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [20]:
orders_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

#### 4. If-statements using for-Loops

In [24]:
orders_products_merged['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [28]:
result = []

In [29]:
#this method, is only looping through one column of the dataframe instead of the whole dataframe

for value in orders_products_merged["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [31]:
orders_products_merged['busiest_day'] = result

In [32]:
orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [33]:
len(result)

32404859

In [34]:
orders_products_merged.shape

(32404859, 16)







# Task 4.7 Deriving Variables

### Step 2. two busiest days of the week

In [35]:
orders_products_merged['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

The two busiest days are "0" = Sunday & '1' = Monday
The two slowest days are '3 = Wednesday & '4' = Thursday

In [40]:
#2: creating new variable 'busiest days'
result2 = []

for value in orders_products_merged['order_dow']:
  if value in [0,1]:result2.append("Busiest days")
  elif value in [3,4]:result2.append("Slowest days")
  else:result2.append("Regularly busy days")

In [41]:
len(result2)

32404859

In [45]:
orders_products_merged['busiest_days'] = result2

In [46]:
orders_products_merged['busiest_days'].value_counts(dropna = False)

Regularly busy days    12916111
Busiest days           11864412
Slowest days            7624336
Name: busiest_days, dtype: int64

In [48]:
# checking if the coloumn was created
orders_products_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,11.11484,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days
1,2398795,1,2,3,7,15.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,473747,1,3,3,12,21.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,2254736,1,4,4,7,29.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,431534,1,5,4,15,28.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

### Step 3. Check the values of this new column for accuracy

In [49]:
orders_products_merged['busiest_days'].value_counts(dropna = False)

Regularly busy days    12916111
Busiest days           11864412
Slowest days            7624336
Name: busiest_days, dtype: int64

### Step 4: busiest_period_of_day

In [50]:
# We can use order_hour_of_day	and count to see which are the busiest hours of the day

orders_products_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [61]:
result3 = []

for value in orders_products_merged['order_hour_of_day']:
  if value in [10,11,14,15,13,12,16,9]:result3.append("Most orders")
  elif value in [17,7,18,19,20,7,21,22]:result3.append("Average orders")
  else:result3.append("Fewest orders")

In [63]:
orders_products_merged['busiest_time_of_the_day'] = result3

### Step 5: Print the frequency for this new column

In [64]:
orders_products_merged['busiest_time_of_the_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     8279533
Fewest orders      3007255
Name: busiest_time_of_the_day, dtype: int64

In [65]:
orders_products_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_time_of_the_day
0,2539329,1,1,2,8,11.11484,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Fewest orders,Fewest orders
1,2398795,1,2,3,7,15.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,Average orders
2,473747,1,3,3,12,21.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,Most orders
3,2254736,1,4,4,7,29.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Average orders,Average orders
4,431534,1,5,4,15,28.00000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Most orders,Most orders

### Step 7: Export your dataframe as a pickle file

In [69]:
orders_products_merged.to_pickle(os.path.join(path, '02 Data','02 Prepared Data','orders_products_merged_NV.pkl'))